<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>

<body>
    @if( Context.Request.Cookies["CurrentUsername"] == "admin" )
    {
    @Html.Partial("_AdminNavbar")
    }
    else if( Context.Request.Cookies["CurrentUsername"] != null ){
    @Html.Partial("_StudentNavbar")
    }
    else{
    @Html.Partial("_GuestNavbar")
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div id="left-footer">
                <h4>CONTACT US</h4>
                <br>
                <p>Address : ECC Building Moo 1 Ladkrabang 1, ถนน ฉลองกรุง 22 แขวง ลำปลาทิว เขตลาดกระบัง กรุงเทพมหานคร 10520</p>
                <p>Phone : 02-329-8341</p>
                <p>E-mail : cekmitl@kmitl.ac.th</p>
            </div>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
