<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ozzy_mvc</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        @if (Context.Request.Cookies["CurrentUsername"] == "admin")
        {
            @Html.Partial("_AdminNavbar")
        }
        else if (Context.Request.Cookies["CurrentUsername"] != null)
        {
            @Html.Partial("_StudentNavbar")
        }
        else
        {
            @Html.Partial("_GuestNavbar")
        }

        @if (Context.Request.Path=="/Lab/Hardware"  || Context.Request.Path=="/Lab/HCRL" || 
             Context.Request.Path=="/Lab/Robot"     || Context.Request.Path=="/Lab/ESL" ||
             Context.Request.Path=="/Lab/Network"   || Context.Request.Path=="/"){   
            <main role="main" class="withfooter">
                    @RenderBody()
            </main> 
        }
        else{
            <main role="main">
                    @RenderBody()
            </main> 
        }

        @if (Context.Request.Path=="/Lab/Hardware"  || Context.Request.Path=="/Lab/HCRL" || 
             Context.Request.Path=="/Lab/Robot"     || Context.Request.Path=="/Lab/ESL" ||
             Context.Request.Path=="/Lab/Network"   || Context.Request.Path=="/"){
            @Html.Partial("_Footer")
        }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>
