<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ozzy_mvc</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/layout.css" />
    </head>

    <body>
        @if (Context.Request.Cookies["CurrentUsername"] == "admin")
        {
            @Html.Partial("_AdminNavbar")
        }
        else if (Context.Request.Cookies["CurrentUsername"] != null)
        {
            @Html.Partial("_StudentNavbar")
        }
        else
        {
            @Html.Partial("_GuestNavbar")
        }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        @if (Context.Request.Path!="/Auth/Login" && Context.Request.Path!="/Student/Create" && Context.Request.Path!="/Equipment/Inventory"){
            @Html.Partial("_Footer")
        }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>

