@model ozzy_mvc.Models.Equipment

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Register</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/booking-element.css" />
</head>

<body>
    <div class="container">
        <div class="element-booking-container">
            <h1>Equipment Details</h1>
            <div>
                <hr />
                <br>
                <div style="text-align: left;">
                    <div>
                        <label>
                            @Html.DisplayNameFor(model => model.EquipmentName)
                        </label>
                        @Html.DisplayFor(model => model.EquipmentName)
                    </div>
                    <div>
                        <label>
                            @Html.DisplayNameFor(model => model.LabName)
                        </label>
                        @Html.DisplayFor(model => model.LabName)
                    </div>
                </div>
            </div>
            <br>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.EquipmentID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

</body>