@model IEnumerable<ozzy_mvc.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipment Management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
<<<<<<< HEAD
=======
                @Html.DisplayNameFor(model => model.EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
>>>>>>> inventory
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
