@model IEnumerable<ozzy_mvc.Controllers.EquipmentInventory>

@{
    ViewData["Title"] = "Inventory";
}
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="StyleSheet" href="~/css/equipment/inventory.css" />
</head>

<body>
    <div class="inventory-container">
        <table class="table">  
            <thead>
                <tr>
                    <th class='EquipmentName'>
                        @Html.DisplayNameFor(model => model.EquipmentName)
                    </th>
                    <th class='LabName'>
                        @Html.DisplayNameFor(model => model.LabName)
                    </th>
                    <th class='Date'>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th class='TimeSlot'>
                        @Html.DisplayNameFor(model => model.TimeSlot)
                       </th>
                    <th class='Morning'>
                        Morn
                    </th>
                    <th class='Afternoon'>
                        Noon
                    </th>
                    <th class='Evening'>
                        Night
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EquipmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LabName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateStr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeSlot)
                        </td>
                        @*
                        *@
                        <td>
                            testM
                        </td>
                        <td>
                            testN
                        </td>
                        <td>
                            testNi
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td>
                    <td>
                        <a asp-area="" asp-controller="Student" asp-action="Return" asp-route-id=@Context.Request.Cookies["CurrentID"]>
                            <button onclick="myFunction11()">Return</button>
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Student" asp-action="Cancel" asp-route-id=@Context.Request.Cookies["CurrentID"]>
                            <button onclick="myFunction11()">Cancel</button>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

<script>

</script>