@model IEnumerable<ozzy_mvc.Controllers.EquipmentInventory>

@{
    ViewData["Title"] = "Inventory";
}

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="styleSheet" href="~/css/equipment.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1 style="position: absolute; left:50%; padding-top:5vmin; transform: translate(-50%,0)">Inventory</h1>

<table>  
    <thead>
        <tr>
            <th class='EquipmentName'>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th class='LabName'>
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th class='Date'>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @* <th class='TimeSlot'>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th> *@
            <th class='Morning'>
                <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728">  @* &#9728; *@
            </th>
            <th class='Afternoon'>
                <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779">  @* &#127779; *@
            </th>
            <th class='Evening'>
                <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int init = 0;
            string lastItem = "";
            object lastlabName = null;
            string lastDate = "";
            object lastTimeSlot = null;
            List<string> timeSlotCache = new List<string>();
            foreach (var item in Model) {
            if(item.EquipmentName != lastItem){
                
                if (init == 0){
                    lastItem = item.EquipmentName;
                    lastlabName = (Lab) (Convert.ChangeType(item.LabName, item.LabName.GetTypeCode()));
                    lastDate = item.DateStr;
                    lastTimeSlot = (TimeSlot) (Convert.ChangeType(item.TimeSlot, item.TimeSlot.GetTypeCode()));
                    timeSlotCache.Add(lastTimeSlot.ToString());
                    init = 1;
                }
                else{

                    <tr class="item-info">
                        <td>@lastItem</td>
                        <td>@lastlabName</td>
                        <td>@lastDate</td>

                        <td>@if(timeSlotCache.Contains("MORNING")) {<span><i class="fa fa-check"></i></span>}</td>
                        <td>@if(timeSlotCache.Contains("AFTERNOON")) {<span><i class="fa fa-check"></i></span>}</td>
                        <td>@if(timeSlotCache.Contains("EVENING")) {<span><i class="fa fa-check"></i></span>}</td>

                    </tr>
                    
                    lastItem = item.EquipmentName;
                    lastlabName = (Lab) (Convert.ChangeType(item.LabName, item.LabName.GetTypeCode()));
                    lastDate = item.DateStr;
                    lastTimeSlot = (TimeSlot) (Convert.ChangeType(item.TimeSlot, item.TimeSlot.GetTypeCode()));
                    timeSlotCache.Clear();

                    timeSlotCache.Add(lastTimeSlot.ToString());
                }
            }
            
            else{
                if (item.DateStr != lastDate){
                    <tr class="item-info">

                        <td>@lastItem</td>
                        <td>@lastlabName</td>
                        <td>@lastDate</td>
                        
                        <td>@if(timeSlotCache.Contains("MORNING")) {<span><i class="fa fa-check"></i></span>}</td>
                        <td>@if(timeSlotCache.Contains("AFTERNOON")) {<span><i class="fa fa-check"></i></span>}</td>
                        <td>@if(timeSlotCache.Contains("EVENING")) {<span><i class="fa fa-check"></i></span>}</td>
                    
                    </tr>

                    lastItem = item.EquipmentName;
                    lastlabName = (Lab) (Convert.ChangeType(item.LabName, item.LabName.GetTypeCode()));
                    lastDate = item.DateStr;
                    lastTimeSlot = (TimeSlot) (Convert.ChangeType(item.TimeSlot, item.TimeSlot.GetTypeCode()));
                    timeSlotCache.Clear();
                    timeSlotCache.Add(lastTimeSlot.ToString());
                }
                else{
                    lastTimeSlot = (TimeSlot) (Convert.ChangeType(item.TimeSlot, item.TimeSlot.GetTypeCode()));
                    timeSlotCache.Add(lastTimeSlot.ToString());
                    
                    @* Console.WriteLine("====================================");
                    Console.WriteLine(timeSlotCache.Contains("MORNING")+ "  " +timeSlotCache.Contains("AFTERNOON")+ "  " +timeSlotCache.Contains("EVENING")); *@
                }
            }
            if(item == Model.Last()){
                <tr class="item-info">

                        <td>@lastItem</td>
                        <td>@lastlabName</td>
                        <td>@lastDate</td>
                        
                        <td>@if(timeSlotCache.Contains("MORNING")) {<span><i class="fa fa-check"></i></span>}</td>
                        <td>@if(timeSlotCache.Contains("AFTERNOON")) {<span><i class="fa fa-check"></i></span>}</td>
                        <td>@if(timeSlotCache.Contains("EVENING")) {<span><i class="fa fa-check"></i></span>}</td>
                    
                </tr>
            }
        }
    }
    </tbody>
    <tfoot>
        <tr>
            <td style="width:45vw;"></td>
            <td style="width:10vw;">
                <a asp-area="" asp-controller="Student" asp-action="Return" asp-route-id=@Context.Request.Cookies["CurrentID"]>
                    <button class="light">Return Item</button>
                </a>
            </td>
            <td style="width:10vw;">
                <a asp-area="" asp-controller="Student" asp-action="Cancel" asp-route-id=@Context.Request.Cookies["CurrentID"]>
                    <button class="light">Cancel Book</button>
                </a>
            </td>
        </tr>
    </tfoot>
</table>