@model IEnumerable<ozzy_mvc.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="StyleSheet" href="~/css/admin.css" />

</head>

<div class="banner">
    Booking Management
</div>


<button style="margin-bottom: 1vw;">
    <a asp-action="Create" asp-route-id="@Context.Request.Cookies["CurrentID"]">Create Booking</a>
</button>

<div class="contain-std-table">
    <table class="std-table">
        <thead class="std-thead">
            <tr>
                <th style="width: 6vw;">
                    @Html.DisplayNameFor(model => model.Student)
                </th>
                <th style="width: 8vw;">
                    @Html.DisplayNameFor(model => model.Equipment)
                </th>
                <th style="width: 6vw;">
                    @Html.DisplayNameFor(model => model.TimeSlot)
                </th>
                <th style="width: 6vw;">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th style="width: 6vw;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 6vw;">
                        @Html.DisplayFor(modelItem => item.Student.Username)
                    </td>
                    <td style="width: 8vw;">
                        @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
                    </td>
                    <td style="width: 6vw;">
                        @Html.DisplayFor(modelItem => item.TimeSlot)
                    </td>
                    <td style="width: 6vw;">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td style="width: 6vw;">
                        @* <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> | *@
                        <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
