@model IEnumerable<ozzy_mvc.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="StyleSheet" href="~/css/admin.css" />

</head>

<body>
    <h1>Booking Management</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeSlot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipment.EquipmentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeSlot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>