@{
    ViewData["Title"] = "ESL Lab";
    int[,,] results = (int[,,]) ViewData["results"];
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab.css" />
</head>

<div class="banner">
    ESL Laboratory
</div>

<div class="lab-detail">
    <div class="contain-lab-img">
        <img class="lab-detail-img" src="~/image/LAB/ESL/4 - ESL.jpg" alt="ESL Lab">
    </div>
    <div class="lab-detail-str">
        <h1 style="font-size: 2vw;">ห้องปฎิบัติการวิจัยระบบสมองกลฝังตัว</h1>

        <p>
            ห้องปฏิบัติการ ESL ตั้งอยู่ที่ห้อง 504 ชั้น 5 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building)
            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย ทัณฑธร สุขสังวาลย์ (61010402)
        </p>
        <p>
            ห้องปฏิบัติการ ESL ไม่อนุญาตให้บุคคลภายนอกเข้า แต่ให้นักศึกษาสามารถจองอุปกรณ์ในระบบก่อนที่จะใช้งาน
            โดยตัวอย่างที่นักศึกษาสามารถยืมได้ คือ Oscilloscope, Signal generator, Multimeter, Power Supply และ Logic
            Trainer เป็นต้น
        </p>
    </div>
</div>

<div class="lab-element">
    <figure>
        <figcaption>Oscilloscope</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ESL/4A - Oscilloscope.jpg" alt="Oscilloscope">
    </figure>

    <div class="item-info">
        <p><b>ยี่ห้อ</b> : UNI-T (UTD2102e)</p>
        <p><b>การใช้งาน</b> : วัดความถี่ แรงดัน และเฟสของสัญญาณไฟฟ้าแสดงผลออกมาเป็นกราฟ</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="13">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>

<div class="lab-element">
    <figure>
        <figcaption>Signal Generator</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ESL/4B - Signal generator.jpg" alt="Signal Generator">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : Aim-tti (TGR2051)</p>
        <p><b>การใช้งาน</b> : ใช้สร้างสัญญาณมาตรฐานที่มีรูปร่างต่าง ๆ ขึ้นมา ซึ่งสามารถควบคุมปรับแต่งได้ทั้งระดับความแรง
            และความถี่</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="14">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>

<div class="lab-element">
    <figure>
        <figcaption>Multimeter</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ESL/4C - Multimeter.jpg" alt="Multimeter">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : UNI-T (UT89XD)</p>
        <p><b>การใช้งาน</b> : วัดปริมาณทางไฟฟ้ากระแสตรง และกระแสสลับ เช่น แรงดันไฟฟ้า กระแสไฟฟ้า ค่าความต้านทาน เป็นต้น
        </p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="15">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>

<div class="lab-element">
    <figure>
        <figcaption>Power Supply</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ESL/4D - Power Supply.jpg" alt="Power Supply">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : Zhaoxin (PS-305D)</p>
        <p><b>การใช้งาน</b> : ใช้สำหรับเป็นแหล่งจ่ายพลังงานให้กับอุปกรณ์ต่าง ๆ</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[3,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[3,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[3,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="16">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>

<div class="lab-element">
    <figure>
        <figcaption>Logic Trainer</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ESL/4F - Logic Trainer.jpg" alt="Logic Trainer">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : Global Specialties (PB-503)</p>
        <p><b>การใช้งาน</b> : จำลองวงจรดิจิตอล หรือวงจรอนาล็อก</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[4,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[4,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[4,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="17">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@

<script src="~/js/lab.js"></script>