@{
    ViewData["Title"] = "HCRL Lab";
    int[,,] results = (int[,,])ViewData["results"];
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab.css" />
</head>

<div class="banner">
    HCRL Laboratory
</div>

<div class="lab-detail">
    <div class="contain-lab-img">
        <img class="lab-detail-img" src="~/image/LAB/HCRL/2 - HCRL.jpg" alt="HCRL Lab">
    </div>
    <div class="lab-detail-str">
        <h1 style="font-size: 2vw;">ห้องปฎิบัติการวิจัย และค้นคว้าระบบสมองกลลูกผสม</h1>

        <p>
            ห้องปฏิบัติการ HCRL ตั้งอยู่ที่ห้อง 607 ชั้น 6 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building)
            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย ธนกฤต รังสิยานุวัตร (61010418)
        </p>
        <p>
            ห้องปฏิบัติการ HCRL เปิดบริการให้นักศึกษายืมโปรเจคเตอร์ และจอต่อแยกสำหรับคอมพิวเตอร์เท่านั้น
        </p>
    </div>
</div>

<div class="lab-element">
    <figure>
        <figcaption>Monitor</figcaption>
        <img class="lab-img-item" src="~/image/LAB/HCRL/2A - Monitor.jpg" alt="Monitor">
    </figure>

    <div class="item-info">
        <p><b>ขนาด</b> : 23.8"</p>
        <p><b>ความละเอียด</b> : Full HD</p>
        <p><b>พาแนล</b> : IPS</p>
        <p><b>การเชื่อมต่อ</b> : VGA, HDMI</p>
        <p><b>ฟังก์ชันเพิ่มเติม</b> : เทคโนโลยี AMD FreeSync™, Flicker-Safe, ดีไซน์ไร้ขอบ 3</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="8">
                            <span style="display: flex;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                @* Make a book! *@
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>

<div class="lab-element">
    <figure>
        <figcaption>Projector</figcaption>
        <img class="lab-img-item" src="~/image/LAB/HCRL/2B - Projector.jpg" alt="Projector">
    </figure>
    <div class="item-info">
        <p><b>ความสว่าง</b> : 4,500</p>
        <p><b>ความละเอียด</b> : 1024x768(XGA)</p>
        <p><b>อัตราส่วนค่าคอนทราสท์</b> : 20,000:1</p>
        <p><b>การเชื่อมต่อ</b> : VGA, HDMI</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="9">
                            <span style="display: flex;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                @* Make a book! *@
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@

<script src="~/js/lab.js"></script>