@{
    ViewData["Title"] = "Network Lab";
    int[,,] results = (int[,,])ViewData["results"];
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Laboratory</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="banner">
    Network Laboratory
</div>

<div class="lab-detail">
    <div class="contain-lab-img">
        <img class="lab-detail-img" src="~/image/LAB/NETWORK/5 - NETWORK.jpg" alt="Network Lab">
    </div>
    <div class="lab-detail-str">
        <h1 style="font-size: 2vw;">ห้องปฏิบัติการเครือข่าย</h1>

        <p>
            ห้องปฏิบัติการ Network ตั้งอยู่ที่ห้อง 601 ชั้น 6 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building)
            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย ศุภากร วชิรศรัณกูล (61011058)
        </p>
        <p>
            ห้องปฏิบัติการ Network เปิดให้นักศึกษาสามารถยืมอุปกรณ์ทางเครือข่ายต่าง ๆ ได้ เช่น สายแลน เราเตอร์
            คีมเข้าหัวสายแลน และสวิตซ์ เป็นต้น
        </p>
    </div>
</div>

<div class="lab-element">
    <figure>
        <figcaption>Lan CAT6 Cable</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5A - Lan CAT6 Cable.jpg" alt="Lan CAT6 Cable">
    </figure>

    <div class="item-info">

        <p><b>ยี่ห้อ</b> : AMP</p>
        <p><b>ความยาว</b> : 3M</p>
        <p><b>การใช้งาน</b> : ใช้สำหรับเชื่อมต่อทางเครือข่าย</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="18">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<div class="lab-element">
    <figure>
        <figcaption>RJ11/RJ45 Crimping Tool</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5B - RJ11_RJ45 Crimping Tool.jpg"
            alt="RJ11/RJ45 Crimping Tool">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : LINK</p>
        <p><b>การใช้งาน</b> :ใช้สำหรับการเข้าหัวสายแลน หรือสายโทรศัพท์</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="19">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<br>
<div class="lab-element">
    <figure>
        <figcaption>Router</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5C - Router.jpg" alt="Router">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : Mikrotik (RB4011iGS+5HacQ2HnD-IN)</p>
        <p><b>การใช้งาน</b> : ใช้เป็นอุปกรณ์หาเส้นทางภายในเครือข่าย</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="20">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<div class="lab-element">
    <figure>
        <figcaption>Switch</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5D - Switch.jpg" alt="Switch">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : Cisco (SG350-10)</p>
        <p><b>ความยาว</b> : 3M</p>
        <p><b>การใช้งาน</b> : ใช้เพื่อเป็นอุปกรณ์ขยายการเชื่อมต่อภายในเครือข่าย</p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[3,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[3,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[3,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="21">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="~/js/lab.js"></script>
