@{
    ViewData["Title"] = "Robot & IoT Lab";
    int[,,] results = (int[,,])ViewData["results"];
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab.css" />
</head>

<div class="banner">
    Robot & IoT Laboratory
</div>

<div class="lab-detail">
    <div class="contain-lab-img">
        <img class="lab-detail-img" src="~/image/LAB/ROBOT&IOT/3 - ROBOT&IOT.jpg" alt="Robot & IoT Lab">
    </div>
    <div class="lab-detail-str">
        <h1 style="font-size: 2vw;">ห้องปฎิบัติการวิจัยหุ่นยนต์ และอินเทอร์เน็ตของสรรพสิ่ง</h1>

        <p>
            ห้องปฏิบัติการ Robot & IoT ตั้งอยู่ที่ห้อง 508 ชั้น 5 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building)
            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย สมพล พิมพ์พิศคนึง (61011066)
        </p>
        <p>
            ห้องปฏิบัติการ Robot & IoT เปิดบริการให้นักศึกษาใช้หุ่นยนต์ต่าง ๆ รวมถึงสถานที่ภายในห้องเพื่อฝึกซ้อม
            และยังสามารถยืมอุปกรณ์ต่าง ๆ เช่น Arduino, NodeMCU V.3 และ Raspberry Pi 4 เป็นต้น
        </p>
    </div>
</div>

<div class="lab-element">
    <figure>
        <figcaption>Arduino</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ROBOT&IOT/3A - Arduino.jpg" alt="Arduino">
    </figure>

    <div class="item-info">
        <p>
            Arduino เป็นไมโครคอนโทรลเลอร์ที่มาจากอิตาลี่ เป็นบอร์ดไมโครคอนโทรเลอร์ตระกูล AVR ที่มีการพัฒนาแบบ Open
            Source
            มีวัยยากรการเขียนที่คล้ายกับภาษาซี
        </p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[0,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="10">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>

<div class="lab-element">
    <figure>
        <figcaption>NodeMCU V.3</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ROBOT&IOT/3B - NodeMCU.jpg" alt="NodeMCU V.3">
    </figure>
    <div class="table-info">
        <p>
            NodeMCU เป็นไมโครคอนโทรลเลอร์ทีมีลักษณะการทำงานตามคำสั่งภาษา C คล้าย Arduino แต่มีลักษณะพิเศษกว่าตรงที่
            สามารถเชื่อมต่อกับ WiFi ได้ การควบคุมการทางานสามารถใช้ โปรแกรม Arduino IDE ได้เช่นเดียวกันกับบอร์ด Arduino
        </p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[1,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="11">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>

<div class="lab-element">
    <figure>
        <figcaption>Raspberry Pi 4</figcaption>
        <img class="lab-img-item" src="~/image/LAB/ROBOT&IOT/3C - Raspberry Pi 4.jpg" alt="Raspberry Pi 4">
    </figure>
    <div class="item-info">
        <p>
            บอร์ดคอมพิวเตอร์ขนาดเล็ก (Single-Board Computer หรือ SBC) ที่ถูกพัฒนาขึ้นโดย Raspberry Pi Foundation
            มีคุณสมบัติเด่น คือ ติดต่อ และความคุมอุปกรณ์อิเล็กทรอนิกส์ได้
        </p>
        <p><b>จำนวนอุปกรณ์ที่เหลือให้จองในแต่ละช่วงเวลา</b></p>
        <table class="reserve-table">
            <thead>
                <tr>
                    <th style="width: 10vw;">
                        Date
                    </th>
                    <th class='Morning' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Sun%20icon.svg" style="width:1.5vw;" alt="&#9728"> @* &#9728; *@
                    </th>
                    <th class='Afternoon' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Evening%20icon.svg" style="width:2vw;" alt="&#127779"> @*
                            &#127779; *@
                    </th>
                    <th class='Evening' style="width: 5vw;">
                        <img src="~/image/Figma_icons/Moon%20icon.svg" style="width:1.5vw;" alt="&#9789"> @* &#9789; *@
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td style="width: 10vw;">
                            @DateTime.Now.AddDays(i+1).ToString("MM/dd/yyyy")
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,0]
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,1]
                        </td>
                        <td style="width: 5vw;">
                            @results[2,i,2]
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a asp-controller="Booking" asp-action="Create"
                            asp-route-id="@Context.Request.Cookies["CurrentID"]" asp-route-eid="12">
                            <span style="display: flex; align-items: center;">
                                <div class="btn-add-reserve" style="margin-right: 1vw;"></div>
                                 Make a book!
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@

<script src="~/js/lab.js"></script>