@model IEnumerable<ozzy_mvc.Controllers.EquipmentInventory>

@{
    ViewData["Title"] = "Cancel";
}

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="styleSheet" href="~/css/equipment.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1 style="position: absolute; left:50%; padding-top:5vmin; transform: translate(-50%,0)">Cancel Booking</h1>

<table>
    <thead>
        <tr>
            <th class="EquipmentName">
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th class="LabName">
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th class="Date">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="TimeSlot">
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot)
                </td>
                @*Can use asp-route-id="@item.EquipmentID" for Request Back*@
                @* <td>
                    <div class="tableGridBox">
                        <input type="checkbox"> 
                        <i class="fa fa-trash-o"></i>
                    </div>
                </td>
                <td>
                    <div class="tableGridBox">
                        <input type="checkbox"> 
                        <i class="fa fa-trash-o"></i>
                    </div>
                </td>
                <td>
                    <div class="tableGridBox">
                        <input type="checkbox">
                        <i class="fa fa-trash-o"></i>
                    </div>
                </td> *@
                <td>
                <a asp-action="DeleteCancel" asp-route-id="@item.BookingID">Cancel</a> 
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td style="width:55vw;"></td>
            <td style="width:10vw;">
                <a asp-area="" asp-controller="Equipment" asp-action="Inventory" asp-route-id=@Context.Request.Cookies["CurrentID"]>
                    <button class="light">Back</button>
                </a>
            </td>
        </tr>
    </tfoot>
</table>