@model ozzy_mvc.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Register</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/student-element.css" />
</head>

<body>
    <div class="container">
        <div class="element-student-container">
            <h1>Delete Student</h1>
            <h3>Are you sure you want to delete this?</h3>
            <hr />
            <div style="text-align: left;">
                <div>
                    <label>
                        @Html.DisplayNameFor(model => model.Username)
                    </label>
                    @Html.DisplayFor(model => model.Username)
                </div>
                <div>
                    <label>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </label>
                    @Html.DisplayFor(model => model.Firstname)
                </div>
                <div>
                    <label>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </label>
                    @Html.DisplayFor(model => model.Lastname)
                </div>
                <div>
                    <label>
                        @Html.DisplayNameFor(model => model.Password)
                    </label>
                    @Html.DisplayFor(model => model.Password)
                </div>
                <div>
                    <label>
                        @Html.DisplayNameFor(model => model.IsBlacklisted)
                    </label>
                    @Html.DisplayFor(model => model.IsBlacklisted)
                </div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="StudentID" />
                <input type="submit" value="Delete" />
                <a asp-action="Index">Back to List</a>
            </form>
        </div>

</body>