@model IEnumerable<ozzy_mvc.Controllers.EquipmentInventory>

@{
    ViewData["Title"] = "Return Booked Item";
}

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="StyleSheet" href="~/css/equipment/return.css" />
</head>

<div>
    <table class="table">
        <thead>
            <tr>
                <th class="itemname">
                    @Html.DisplayNameFor(model => model.EquipmentName)
                </th>
                <th class="labname">
                    @Html.DisplayNameFor(model => model.LabName)
                </th>
                <th class="date">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th class="timeslot">
                    @Html.DisplayNameFor(model => model.TimeSlot)
                </th>
                <th class='check'></th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot)
                </td>
                <td>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
